:root {
    --bodyBg: #FFD24C;
    --containerBg: #FFE69A;
    --btnCalcularBg: linear-gradient(90deg, #83BD75, #4E944F);
    --btnLimpiarBg: linear-gradient(90deg, #80ED99, #57CC99);
    --btnEliminarBg: #EF9F9F;
    --borderRadius: 25px;
    --linkBg: linear-gradient(90deg,#03a9f4,#7FB5FF);
    --boxColor: #FFF9B6;
}

.resultadoMedia {
    font-size: 1.5rem;
    font-weight: bold;
}